@import '../../assets/styles/shared.css';

.instagram {
  @mixin flex;
}

.photo {
  border-right: 1px solid var(--color-white);
  height: 0;
  max-width: 21.875rem; /* 350px */
  overflow: hidden;
  padding-bottom: 30vh;
  position: relative;
  width: 20vw;
}
