@import '../../assets/styles/shared.css';

.section {
  @mixin section;

  padding-bottom: var(--subscribe-margin);

  padding-top: var(--subscribe-margin);

  position: relative;
}

.banner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &::before {
    background-color: var(--theme-primary);
    content: '';
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  & .img {
    height: 100%;

    & > img {
      object-fit: cover;
      object-position: center center;
    }
  }
}

.section__in {
  @mixin container;

  color: var(--color-white);
}

.section__title {
  font-size: var(--font-size-crazy);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-xxl);
}

.cta {
  @mixin flex;

  align-items: stretch;

  & input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  & button {
    border-bottom-right-radius: 5px;
    border-left: none;
    border-top-right-radius: 5px;
  }
}

.text {
  width: 40vw;
}

.nospam {
  font-size: var(--spacing-xs);
}

.text,
.nospam {
  margin: 0;
  padding: 0;
}

.title,
.nospam {
  margin-bottom: var(--spacing-beast);
}
