@import '../../assets/styles/shared.css';

.footer {
  @mixin section;

  color: var(--color-grey);
  padding-bottom: 0;
  padding-top: 0;
}

.section {
  @mixin container;
}

.credits {
  align-items: center;
  font-size: var(--font-size-xs);
  justify-content: space-between;
}

.credits p {
  @mixin flex;

  align-items: center;
}

.credits,
.privacy {
  @mixin flex;
}

.icon {
  color: red;
  display: inline;
  fill: red;
  height: var(--font-size-s);
  margin-left: 1ch;
  margin-right: 1ch;
  width: auto;
}
