:root {
  --color-primary: #242424;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey: #272a33;
  --color-grey: #a7afb5;
  --color-light-grey: #f2f2f2;
  --theme-primary: #3d9a88;
  --theme-secondary: #e8594e;
  --theme-tertiary: #fcbdb2;
}

/* Other colors:
#ee9b0b
#488ABD */
