h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

input {
  appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 150%;
}

svg {
  height: 100%;
  width: 100%;
}
