@define-mixin flex $direction: row {
  display: flex;
  flex-direction: $direction;
}

@define-mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--size-container) - 40px);
  padding: 0 20px;
}

@define-mixin no-button {
  appearance: none !important;
  background-color: transparent;
  border: none;
}

@define-mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin section {
  overflow: hidden;
  padding-bottom: var(--spacing-beast);
  padding-top: var(--spacing-beast);
}

@define-mixin section-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-beast);
  position: relative;
  text-transform: uppercase;

  &::before {
    bottom: calc(-1 * var(--spacing-s));
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 13%;
  }
}
